@font-face {
  font-family: crayon;
  src: url("assets/KajudenFont-Crayon.woff2") format("woff2");
}

*,
::before,
::after {
  box-sizing: border-box;
  flex: none;
  border: 0 solid transparent;
}

* {
  margin: 0;
  font-size: inherit;
}

:root {
  line-height: 1.2;
}
:root * {
  line-height: inherit; /* WindiCSS の text-xx が line-height を変えてしまう問題対策 */
}

html,
body {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: crayon, sans-serif;
  background: linear-gradient(hsl(150, 50%, 24%), hsl(150, 50%, 16%));
  color: white;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: transparent;
}

[hidden] {
  display: none !important;
}
